// Color system
$blue:    #1360f6;
$gray-900: #212529;
$dark: $gray-900;

ul {
  padding-inline-start: 1rem;
}

// Links
//
// Style anchor elements.

$link-color:                              $blue ;
$link-hover-color:                        $link-color;
$link-hover-decoration:                   none;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 0%;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$line-height-base: 1.9;


::selection {
    background:#1360f6;
    color: #FFF;
    text-shadow: none;
}
::-moz-selection {
    background:#1360f6;
    color: #FFF;
    text-shadow: none;
}
::-webkit-selection {
    background:#1360f6;
    color: #FFF;
    text-shadow: none;
}

.hover-color {
    &:hover {
        color: $blue
    }
}
